.button-outline {
  border-radius: $border-radius-base;
  border: 2px solid #fff6f6;
  background-color: transparent;
  padding: 12px;
  font-size: 12;
  color: #fff;
  transition: .5s;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  border-radius: $border-radius-base;
  display: block;
  border: none;
  cursor: pointer;

  background-color: $primary;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  transition: .5s;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.button-primary:hover {
  background-color: $secondary;
}

.button-outline:hover {
  background-color: $secondary;
}