<div class="topnav">
    <a href="" > logo</a>
    <a class="{% if page_id != 1 %}active{% endif %}" href="index.html">главная</a>
    <a class="{% if page_id == item.menu_item %}active{% endif %}" href="page1.html">каталог</a>
    <a class="{% if page_id == item.menu_item %}active{% endif %}" href="#contact">о нас</a>
    <a class="{% if page_id == item.menu_item %}active{% endif %}" href="#about">контакты</a>
</div>