//тут над что бы выводился товар

{% set title = 'Каталог' %}
{% extends "layout.njk" %}

{% block home %}

    <div class="container">
        <div class="row">
            <div id="cardInfo"></div>

        </div>
    </div>

{% endblock %}