{% set title = 'Главная' %}
{% set page_id = "1" %}
{% extends "layout.njk" %}

{% block headercontent %}

  {% include "partials/header.njk" %}

{% endblock %}

{% block mainitem %}
  {% include "partials/mainitem.njk" %}
{% endblock %}