<!--тут показывается пачка товаров -->

{% set title = 'Каталог' %}
{% set page_id = "2" %}
{% extends "layout.njk" %}

{% block home %}
    <h3>Это блок для второй страницыssы</h3>ты тут да?
</p>
<ul class="animals list-bullet"></ul>

{% for menus in menu | sort(true, true, 'id') %}

    <a href="{{menus.url}}"{% if page_id == menus.id %} class="active"{% endif %}>{{menus.title}}
    </a>

{% endfor %}
<div class="container">
    <div class="row">
        {% for cards in card | sort(true, true, 'id') %}
            <div class="col-three">
                <img src="{{cards.foto}}">
                {{cards.title}}
                {{cards.short_desc}}
                <a href="card.html?cardId={{cards.id}}">подробнее</a>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}