<!--тут показывается пачка товаров -->

{% set title = 'Каталог' %}
{% set page_id = "2" %}
{% extends "layout.njk" %}

{% block home %}

    <div class="body-catalog">

        <section class="marketing">
            <div class="container">
                <div class="row">
                    {% block marketing %}
                        {% include "partials/marketing.njk" %}
                    {% endblock %}
                </div>
            </div>
        </section>

        <div class="container">

            <h2>ПОВЯЗКИ И ПЛАСТЫРИ MOLNLYCKE</h2>
            <div class="row">

                {% for cards in card | sort(true, true, 'id') %}

                    <div class="product-item">
                        <div class="product-item__body">
                            <div class="product-item__title">
                                {{cards.title}}</div>
                            <div class="product-item__image">
                                <img src="{{cards.foto}}"></div>
                            <div class="product-item__action">
                                <a class="button-primary" href="card.html?cardId={{cards.id}}">подробнее</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}