<section>
    <div class="container">
        <div class="row">
            <div class="col-fifty">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex optio
            ducimus iste nesciunt, tempore molestiae possimus labore pariatur.
            Deserunt doloribus vero est dicta blanditiis, incidunt architecto
            amet placeat quisquam iste!
          </div>
            <div class="col-fifty">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex optio
            ducimus iste nesciunt, tempore molestiae possimus labore pariatur.
            Deserunt doloribus vero est dicta blanditiis, incidunt architecto
            amet placeat quisquam iste!
          </div>
        </div>
    </div>
</section>