<div class="col-fifty">
  <div class="about-item">
    <div class="about-item__icon">
      {% include "partials/svg/about_star.svg" %}
    </div>

    <div class="about-item__desc">
      <div class="about-item__title">Качество</div>
      <p>Наша компания является официальным дилером Европейских производителей</p>
    </div>

  </div>
  <div class="about-item">
    <div class="about-item__icon">
      {% include "partials/svg/about_shield.svg" %}
    </div>

    <div class="about-item__desc">
      <div class="about-item__title">Безопасность</div>
      <p>Товар зарегистрирован в РК, прошел оценку безопасности и качества и разрешен к продаже</p>
    </div>

  </div>
  <div class="about-item">
    <div class="about-item__icon">
      {% include "partials/svg/about_doc.svg" %}
    </div>

    <div class="about-item__desc">
      <div class="about-item__title">Рекомендации ведущих специалистов</div>
      <p>Дерматологи, хирурги, косметологи и тату художники подтверждают качество продукции</p>
    </div>

  </div>

</div>
<div class="col-fifty">
  <div class="about-item">
    <div class="about-item__icon">
      {% include "partials/svg/about_assort.svg" %}
    </div>

    <div class="about-item__desc">
      <div class="about-item__title">Большой ассортимент</div>
      <p>Широкий ассортимент продукции: 
от защиты татуировки до лечения трофических язв и ожогов.</p>
    </div>

  </div>
  <div class="about-item">
    <div class="about-item__icon">
      {% include "partials/svg/about_ship.svg" %}
    </div>

    <div class="about-item__desc">
      <div class="about-item__title">Бесплатная доставка</div>
      <p>Наша компания является официальным дилером Европейских производителей</p>
    </div>

  </div>
  <div class="about-item">
    <div class="about-item__icon">
      {% include "partials/svg/about_coin.svg" %}
    </div>

    <div class="about-item__desc">
      <div class="about-item__title">Выгода</div>
      <p>Возможность использования одной повязки в течение нескольких дней, что существенно экономит Ваши деньги и время</p>
    </div>

  </div>
</div>