<h1>
          Европейский перевязочный</br>
материал для лечения
ран и рубцов
          </h1>
<ul>
<li>
              Официальный диллер компании Mölnlycke Health Care (Швеция).
            </li>
<li>Прямые поставки с Европы</li>
<li>
              Запатентоваsssнная тех3222нология силиконового покрытия “Safetac”
            </li>
<li>Гипоаллергенный, дыша333щий состав</li>
<li>Доставка по Казахстану</li>
</ul>

<button
            type="button"
            class="button-outline"
            data-toggle="modal"
            data-target="#visvat"
          >
            бесплатная консультация специалиста
          </button>