
      <div class="header-banner">
        <div class="header-content">
          <h1>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni ipsam quod maxime iure similique dolorem odio id quibusdam, at eius saepe incidunt labore fugit iusto excepturi perspiciatis quisquam commodi quaerat.
          </h1>
          <ul>
            <li>
              Официальный диллер компании Mölnlycke Health Care (Швеция).
            </li>
            <li>Прямые поставки с Европы</li>
            <li>
              Запатентоваsssнная тех3222нология силиконового покрытия “Safetac”
            </li>
            <li>Гипоаллергенный, дыша333щий состав</li>
            <li>Доставка по Казахстану</li>
          </ul>

          <button
            type="button"
            class="button-outline"
            data-toggle="modal"
            data-target="#visvat"
          >
            бесплатная консультация специалиста
          </button>
        </div>
      </div>
 