{% for mainitems in mainitem %}

  <div class="mainitem-item">

    <div class="mainitem-item__foto">
      <img src=" {{mainitems.img}}" alt="" srcset=""/>
    </div>

    <div class="mainitem-item__title">
      {{mainitems.title}}
    </div>

  </div>

{% endfor %}