<div class="marketing-container">
    <h1>Заголовок</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aspernatur minus libero modi ut sint laboriosam nobis ab, voluptatem quidem ullam aliquid cumque vitae dolor accusamus vero distinctio at nam?</p>

    <button
            type="button"
            class="button-primary"
            data-toggle="modal"
            data-target="#visvat"
          >
            бесплатная консультация специалиста
          </button>
</div>