<div class="steps-column">
  <div class="item-steps">
    <div class="item-steps__number">1</div>
    <div class="item-steps__caption">Шаг</div>
    <div class="item-steps__desc">Выберете нужную продукцию</div>
  </div>
</div>

<div class="steps-column">
  <div class="item-steps">
    <div class="item-steps__number">2</div>
    <div class="item-steps__caption">Шаг</div>
    <div class="item-steps__desc">оформите заказ в три клика</div>
  </div>
</div>

<div class="steps-column">
  <div class="item-steps">
    <div class="item-steps__number">3</div>
    <div class="item-steps__caption">Шаг</div>
    <div class="item-steps__desc">Дождитесь звонка менеджера</div>
  </div>
</div>

<div class="steps-column">
  <div class="item-steps">
    <div class="item-steps__number">4</div>
    <div class="item-steps__caption">Шаг</div>
    <div class="item-steps__desc">Получите Ваш заказ</div>
  </div>
</div>

{# 
<div class="row">
  <div class="col-four">
    <div class="block-steps-item">
      <span class="block-steps-number">11</span>
      <span class="block-steps-caption">шаг</span>
      <span class="block-steps-desc">Выберете нужную продукцию</span>
    </div>
  </div>
  <div class="col-four">
    <div class="block-steps-item">
      <span class="block-steps-number">2</span>
      <span class="block-steps-caption">шаг</span>
      <span class="block-steps-desc">Оформите заказ</br> в три клика</span>
  </div>
</div>
<div class="col-four">
  <div class="block-steps-item">
    <span class="block-steps-number">3</span>
    <span class="block-steps-caption">шаг</span>
    <span class="block-steps-desc">Дождитесь звонка менеджера</span>
  </div>
</div>
<div class="col-four">
  <div class="block-steps-item">
    <span class="block-steps-number">4</span>
    <span class="block-steps-caption">шаг</span>
    <span class="block-steps-desc">Получите </br>Ваш заказ</span>
</div>
</div>
</div> #}