.button-outline {
  border-radius: 2px;
  border: 2px solid #fff6f6;
  background-color: transparent;
  padding: 16px;
  font-size: 12;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-style: normal;
  font-weight: bold; }

.button-primary {
  border-radius: 2px;
  border: 2px solid red;
  background-color: blue;
  padding: 16px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-style: normal;
  font-weight: bold; }

body {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
