<!-- layout.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Document</title>
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/grid.min.css">
  <link rel="stylesheet" href="css/main.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bower:css-->
  <!-- endbower -->
</head>
<body>
  {% include "partials/home.njk" %}

 {% include "partials/mainitem.njk" %}
  {% include "partials/steps.njk" %}

  <article class="content">
    {% block content %}
    {% endblock %}
  </article>  


  {% include "partials/footer.njk" %}
  <script src="assets/js/main.js"></script>
</body>
</html>